.test {
  margin: 0;
  background-color: green;
}

html {
  background-color: aqua;
}
.test2 {
  margin: 10px;
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.test3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .test2 {
    font-size: 14px;
    color: white;
    background-color: lightcoral;
    color: green;
  }
}